name: macOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build APK
        run: ./gradlew build

      - uses: actions/upload-artifact@v2
        with:
          name: macos
          path: app/build/outputs/apk/
